
[class*="col-"] {width: 100%;}@media only screen and (min-width: 768px) {[class*="col-"] {float: left;padding: 15px;}.col-1 {width: 8.33%;}.col-2 {width: 16.66%;}.col-3 {width: 25%;}.col-4 {width: 33.33%;}.col-5 {width: 41.66%;}.col-6 {width: 50%;}.col-7 {width: 58.33%;}.col-8 {width: 66.66%;}.col-9 {width: 75%;}.col-10 {width: 83.33%;}.col-11 {width: 91.66%;}.col-12 {width: 100%;}}


/*STYLE HEADER*/

header {
  background-image: url("img/zwolle-foto.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  font-weight: 700;     /* vet */
  font-size: 2.5rem;    /* groter */
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;

  color: white;

  background-color: rgba(0, 0, 0, 0.6); /* donkere transparante achtergrond */
  padding: 15px 30px;
  border-radius: 8px;
  display: inline-block;
}


body {
  font-family: 'Montserrat', sans-serif;
}


/*STYLE BODY*/

body{
background-color: rgb(245, 246, 224);
margin: 0 auto;
}

/*section{
padding: 10px;
display:flex;
}*/


section{
  display: flex;
  flex-direction: column;   /* mobiel: onder elkaar */
}

@media only screen and (min-width: 600px){
  section{
    flex-direction: row;    /* desktop: naast elkaar */
  }
}


@media only screen and (max-width: 600px){

  /* Witte blok */
  #inhoudtwee{
    text-align: center;
    padding-bottom: 10px;   /* minder ruimte onderaan */
  }

  /* Titel centreren */
  #inhoudtwee h2{
    text-align: center;
  }

  /* Lijst mooi centreren */
  #inhoudtwee ul{
    list-style-position: inside;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;   /* bullets blijven netjes */
  }

  /* Rode blok centreren */
  #inhouddrie{
    text-align: center;
  }

  /* Artikel onder elkaar */
  .artikel{
    flex-direction: column;
    align-items: center;
  }

  .artikel .tekst{
    text-align: center;
  }

  .artikel img{
    display: block;
    margin: 10px auto;
    width: 70%;
    max-width: 220px;
  }
}




#inhoudtwee{
width: 100%;
min-height: 400px;
background-color: rgb(255, 255, 255);
display: inline-block;
}


/* Fix voor het tussenbereik 450px–600px */
@media only screen and (max-width: 600px) and (min-width: 450px){

  #inhoudtwee,
  #inhouddrie,
  .artikel,
  .artikel .tekst{
    text-align: center !important;
  }

  .artikel{
    flex-direction: column !important;
    align-items: center !important;
  }

  .artikel img{
    display: block;
    margin: 10px auto !important;
  }

  /* Lijst in het midden, maar tekst netjes */
  #inhoudtwee ul{
    display: inline-block;
    text-align: left;        /* bullets blijven mooi */
    margin: 0 auto !important;
    padding: 0 !important;
    list-style-position: inside;
  }
}


@media only screen and (max-width: 600px){

  /* haal die grote hoogte weg op mobiel (dit voorkomt die lege onderkant) */
  #inhoudtwee{
    min-height: auto;          /* overschrijft min-height:400px */
    padding: 35px 15px;        /* extra ruimte boven/onder */
    display: flex;             /* verticaal centreren */
    flex-direction: column;
    justify-content: center;   /* midden in de hoogte */
    align-items: center;       /* horizontaal midden */
    text-align: center;
  }

  /* lijst netjes gecentreerd (maar bullets blijven mooi) */
  #inhoudtwee ul{
    list-style-position: inside;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
  }
}

/* Alleen fix voor jouw .artikel/.tekst op mobiel */
@media only screen and (max-width: 600px){
  #inhouddrie .artikel{
    display: flex;
    flex-direction: column;  /* tekst boven, foto onder */
    align-items: center;     /* alles in het midden */
    text-align: center;
  }

  #inhouddrie .artikel .tekst{
    width: 100%;
    text-align: center;      /* forceer tekst centreren */
  }

  #inhouddrie .artikel img{
    display: block;
    margin: 10px auto;       /* foto echt in het midden */
  }
}



/*INHOUD 3*/

#inhouddrie{
width: 100%;
min-height: 400px;
background-color: brown;
display: inline-block;
}

#inhouddrie img {
  width: 150px;
}

.artikel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.artikel img {
  width: 180px;
  height: auto;
}


/* Desktop (jouw huidige gedrag): tekst links, afbeelding rechts */
.artikel{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

/* Afbeelding sizing */
.artikel img{
  width: 180px;
  height: auto;
}

/* ✅ Mobiel: tekst en afbeelding onder elkaar */
@media only screen and (max-width: 767px){
  .artikel{
    flex-direction: column;   /* onder elkaar */
    align-items: flex-start;
  }

  .artikel img{
    width: 100%;              /* of bv. 220px als je liever klein wil */
    max-width: 240px;
  }
}

/*FOOTER*/

footer{
min-height: 100px;
background-color: rgb(211, 183, 123);

display: flex;
  justify-content: center;   /* horizontaal midden */
  align-items: center;       /* verticaal midden */

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color:white

}

footer{
  clear: both;
}